@use "pallette";
@use "mixins";

// for side bar contact icons
.contact-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 0vw;
    left: 1vw;
    z-index: 999;

    // styling of contact side tab
    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
        gap: 20px;
        font-size: 24px;
    }

    &__bar > a:link {
        color: pallette.$primary-color;
    }

    &__bar > a:visited {
        color: pallette.$primary-color;
    }

    &__bar > a:hover {
        color: pallette.$link-active-color;
    }

    // hide in phone mode to prevent overlap with content or excessive content squish on small screens
    @include mixins.phone {
        visibility: hidden;
        opacity: 0;
    }
}

// the bars under the side contact section
#pipes {
    color: pallette.$text-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;

    // remove on wide but short screens
    @include mixins.mobile-landscape {
        display: none;
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}

// for bottom contact section within page holder section
.contact-bottom {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: pallette.$text-color;
    font-size: 24px;
    margin-bottom: pallette.$content-spacing;

    &__links {
        display: flex;
        gap: 20px;
    }

    @include mixins.mobile-device {
        flex-wrap: wrap;
    }
}

// bottom link icon styling
.contact-bottom > div > a:link {
    color: pallette.$primary-color;
}

.contact-bottom > div > a:visited {
    color: pallette.$primary-color;
}

.contact-bottom > div > a:hover {
    color: pallette.$link-active-color;
}
