@use "pallette";
@use "mixins";

header {
    //lock banner to top and display in front of page
    background-color: pallette.$border-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header-container {
    display: flex;
    gap: 20px;

    // spread apart Logo and Nav bar when in mobile drop down form
    @include mixins.mobile-device {
        justify-content: space-between;
    }

    @include mixins.phone {
        height: 70px; // reduces banner size on small portrait devices
    }

    @include mixins.mobile-landscape {
        height: 60px; // reduces banner size on small landscape devices
    }

    &__nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: pallette.$border-color;

        &--lnk {
            font-weight: bold;
            text-decoration: none;
            color: pallette.$text-color;
        }

        @include mixins.mobile-device {
            // drop down menu for when in mobile device size
            &--lnk {
                position: relative;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                background-color: pallette.$border-color; // placeholder color for links
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                transition: background-color 0.2s;

                @include mixins.mobile-landscape {
                    // reduces size of drop down menu when in small landscape devices
                    font-size: x-small;
                    padding: 4px 6px;
                }
            }

            &--lnk:link {
                color: pallette.$text-color;
            }

            &--lnk:visited {
                color: pallette.$text-color;
            }

            &--lnk:hover {
                color: pallette.$text-color;
                background-color: pallette.$border-color-dark;
            }

            //make nav group visible
            &--lnk:hover &--group {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                transition: opacity 0.2s visibility 0.2s transform 0.2s;
            }

            // hide the group of actual navigation options
            &--group {
                position: absolute;
                top: 100%;
                right: 1%;
                min-width: 100%;
                box-shadow: 0 0 5px rgba (0, 0, 0, 0.2);
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
            }

            // drop down icon
            &--outer-lnk > i {
                font-size: 32px;
            }
        }
        // change to banner nav bar in monitor view
        @include mixins.monitor {
            width: 80%;
            &--outer-lnk {
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            &--group {
                display: flex;
                justify-content: left;
                height: 100%;
                align-items: center;
                background-color: pallette.$border-color;
            }

            // style of nav bar buttons
            &--inner-lnk {
                border-radius: 12px;
                padding: 10px;
                max-height: 50%;
                width: 100px;
                text-align: center;
            }

            &--inner-lnk > p {
                margin: 0px;
                align-self: center;
            }

            &--inner-lnk:hover {
                color: pallette.$text-color;
                background-color: pallette.$border-color-dark;
            }

            // hides the icon for drop down menu and prevents it interacting with other nav bar items
            &--icon {
                display: none;
                position: absolute;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    // currently my name in top left corner
    &__logo {
        grid-column: 1 / 2;
        background-color: pallette.$border-color;
        &--heading {
            color: pallette.$text-color;
            padding: 5px;

            // reduce name size for smaller mobile devices
            @include mixins.phone {
                font-size: pallette.$tertiary-Heading-size;
            }

            @include mixins.mobile-landscape {
                font-size: pallette.$tertiary-Heading-size;
            }
        }
    }
}
