@use "pallette";
@use "mixins";

.home {
    display: flex;
    color: pallette.$primary-color;
    font-size: pallette.$heading-size;
    align-items: center;
    height: 90vh;

    // CSS animation to fade title in on load
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

    // reducing main heading size to fit in smaller mobile screens
    @include mixins.mobile-device {
        font-size: pallette.$secondary-heading-size;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// compatibility for animation across browsers
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
