@use "pallette";
@use "mixins";

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: pallette.$content-spacing;
    justify-content: space-between;

    &__header {
        margin: 0px;
        color: pallette.$primary-color;
        font-size: pallette.$secondary-heading-size;
    }

    // how internals of each project container is structured
    &__project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5% 10%;
        gap: 50px;

        // to allow for correct wrapping style for each alternate container where the image comes after the text
        &--reversed {
            flex-wrap: wrap-reverse;
        }
    }
}

.project-container {
    &__text-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        max-width: 400px;
        margin: 3%;
        justify-content: space-evenly;
        position: relative;
    }

    &__text-container > h2 {
        color: pallette.$primary-color;
    }

    &__text-container > p {
        color: pallette.$text-color;
    }

    //github repo link styling
    &__text-container a {
        text-decoration: none;
        color: pallette.$primary-color;
    }

    &__text-container {
        &--links {
            display: flex;
            justify-content: space-around;
        }

        &--links > a {
            padding: 5px;
            border-radius: pallette.$border-rounding;
        }

        &--links a:link {
            text-decoration: none;
            color: pallette.$primary-color;
        }
        &--links a:visited {
            text-decoration: none;
            color: pallette.$primary-color;
        }
        &--links a:hover {
            background-color: pallette.$base-color;
            text-decoration: none;
            color: pallette.$link-active-color;
        }
    }

    // reduce image size on mobile devices so as to avoid strange wrapping behaviour of other classes on very small screens
    &__img {
        width: 400px;
        @include mixins.mobile-device {
            width: 250px;
            height: 250px;
        }
    }
}
