@import "pallette";

.about {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 5%;
    border: $test-border orange;
    flex-wrap: wrap;

    &__about-text {
        border: $test-border hotpink;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-text-container {
    &__heading {
        text-align: center;

        border: $test-border red;
        color: $primary-color;
    }

    &__para {
        border: $test-border grey;
        max-height: 400px;
        max-width: 400px;
        color: $text-color;
    }
}
