@import "pallette";

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__heading {
        color: $primary-color;
        align-self: center;
    }

    &__bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
        //  border: $test-border yellow;
        gap: 20px;
    }

    &__bar img {
        width: 25px;
        height: 25px;
    }

    &__bar > a:link {
        color: $primary-color;
    }

    &__bar > a:visited {
        color: $primary-color;
    }

    &__bar > a:hover {
        color: $link-active-color;
    }
}
