@use "pallette";
@use "mixins";

header {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;

  &__nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    background-color: #009578;

    @include mixins.mobile-device {
      &--lnk {
        position: relative;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        background-color: #009578; // placeholder color for links
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.2s;
      }

      &--lnk:link {
        color: pallette.$primary-color;
      }

      &--lnk:visited {
        color: pallette.$primary-color;
      }

      &--lnk:hover {
        color: pallette.$link-active-color;
        background-color: #007f66; // darker background placeholder colour for links
      }

      &--lnk:hover &--group {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: opacity 0.2s visibility 0.2s transform 0.2s;
      }

      &--group {
        position: absolute;
        top: 100%;
        right: 1%;
        min-width: 100%;
        box-shadow: 0 0 5px rgba (0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
      }
    }
    @include mixins.monitor {
      &--dropdown {
        visibility: hidden;
        opacity: 0;
      }
      &--group {
        background-color: orange;
      }

      &--lnk {
      }

      &--lnk:hover {
        color: pallette.$link-active-color;
        background-color: #007f66;
      }
    }
  }

  &__logo {
    background-color: #009578;
    &--heading {
      color: pallette.$text-color;
      padding: 5px 50px;
    }
  }
}

.icon {
  color: pallette.$primary-color;
}
