@use "pallette";
@use "mixins";

header {
    background-color: #009578;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header-container {
    display: flex;
    gap: 20px;

    @include mixins.mobile-device {
        justify-content: space-between;
    }

    &__nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #009578;

        @include mixins.mobile-device {
            &--lnk {
                position: relative;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                background-color: #009578; // placeholder color for links
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                transition: background-color 0.2s;
            }

            &--lnk:link {
                color: pallette.$primary-color;
            }

            &--lnk:visited {
                color: pallette.$primary-color;
            }

            &--lnk:hover {
                color: pallette.$link-active-color;
                background-color: #007f66; // darker background placeholder colour for links
            }

            &--lnk:hover &--group {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                transition: opacity 0.2s visibility 0.2s transform 0.2s;
            }

            &--group {
                position: absolute;
                top: 100%;
                right: 1%;
                min-width: 100%;
                box-shadow: 0 0 5px rgba (0, 0, 0, 0.2);
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
            }
        }
        @include mixins.monitor {
            width: 80%;
            &--outer-lnk {
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
            &--icon {
                display: none;
            }
            &--group {
                display: flex;
                justify-content: left;
                height: 100%;
                align-items: center;
                background-color: #009578;
            }

            &--inner-lnk {
                padding: 10px;
                max-height: 50%;
                width: 100px;
                text-align: center;
            }

            &--inner-lnk > p {
                margin: 0px;
                align-self: center;
            }

            &--inner-lnk:hover {
                color: pallette.$link-active-color;
                background-color: #007f66;
            }
        }
    }

    &__logo {
        grid-column: 1 / 2;
        background-color: #009578;
        &--heading {
            color: pallette.$text-color;
            padding: 5px;
        }
    }
}

.icon {
    color: pallette.$primary-color;
}
