$base-color: #1a1c23;
$primary-color: #2692ea;
$text-color: #e1eff6;
$link-active-color: #6320ee;
$border-color: #faeab3;

$test-border: 3px solid;

$heading-size: 48px;
$secondary-heading-size: 36px;
$tertiary-Heading-size: 24px;
