$base-color: #022d4f;
$alt-base-color: grey;
$primary-color: #20a4f3;
$text-color: #f6f7f8;
$link-active-color: #e11470;
$border-color: #4281a4;
$border-color-dark: #3a7392;

$heading-size: 48px;
$secondary-heading-size: 36px;
$tertiary-Heading-size: 24px;
$content-spacing: 200px;
