@use "pallette";
@use "mixins";

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: pallette.$content-spacing;

    &__header {
        margin: 0px;
        color: pallette.$primary-color;
        font-size: pallette.$secondary-heading-size;
    }

    &__project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5% 10%;
        gap: 50px;

        &--reversed {
            flex-wrap: wrap-reverse;
        }
    }
}

.project-container {
    &__text-container {
        max-width: 400px;
        margin: 5%;
    }

    &__text-container > h2 {
        color: pallette.$primary-color;
    }

    &__text-container > p {
        color: pallette.$text-color;
    }
}
