@use "header";
@use "landing";
@use "about";
@use "skills";
@use "projects";
@use "contact";
@use "pallette";
@use "mixins";

body {
    background-color: pallette.$base-color;
    font-family: "Orbitron", sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
}

.page-holder {
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: 100px 20px 0px 20px;
    max-width: 1500px;
}

.heading {
    @include mixins.mobile-device {
        text-align: center;
    }
}

.para {
    @include mixins.mobile-device {
        text-align: center;
    }
}

@include mixins.monitor {
    .reveal {
        position: relative;
        transform: translateY(10px);
        opacity: 0;
        transition: 2s all ease;
    }
    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }
}
