header {
  background-color: #009578;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.header-container {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 992px) {
  .header-container {
    justify-content: space-between;
  }
}
.header-container__nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #009578;
}
@media only screen and (max-width: 992px) {
  .header-container__nav-bar--lnk {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: #009578;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.2s;
  }
  .header-container__nav-bar--lnk:link {
    color: #2692ea;
  }
  .header-container__nav-bar--lnk:visited {
    color: #2692ea;
  }
  .header-container__nav-bar--lnk:hover {
    color: #6320ee;
    background-color: #007f66;
  }
  .header-container__nav-bar--lnk:hover .header-container__nav-bar--group {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: opacity 0.2s visibility 0.2s transform 0.2s;
  }
  .header-container__nav-bar--group {
    position: absolute;
    top: 100%;
    right: 1%;
    min-width: 100%;
    box-shadow: 0 0 5px rgba 0, 0, 0, 0.2;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
}
@media only screen and (min-width: 993px) {
  .header-container__nav-bar {
    width: 80%;
  }
  .header-container__nav-bar--outer-lnk {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .header-container__nav-bar--group {
    display: flex;
    justify-content: left;
    height: 100%;
    align-items: center;
    background-color: #009578;
  }
  .header-container__nav-bar--inner-lnk {
    padding: 10px;
    max-height: 50%;
    width: 100px;
    text-align: center;
  }
  .header-container__nav-bar--inner-lnk > p {
    margin: 0px;
    align-self: center;
  }
  .header-container__nav-bar--inner-lnk:hover {
    color: #6320ee;
    background-color: #007f66;
  }
  .header-container__nav-bar--icon {
    display: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
.header-container__logo {
  grid-column: 1/2;
  background-color: #009578;
}
.header-container__logo--heading {
  color: #e1eff6;
  padding: 5px;
}

.home {
  color: #2692ea;
  font-size: 48px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  margin: 2%;
  flex-wrap: wrap;
  gap: 50px;
}
.about__text--heading {
  font-size: 24px;
  color: #2692ea;
}
.about__text--para {
  max-height: 400px;
  max-width: 400px;
  color: #e1eff6;
}

.skills__header {
  color: #2692ea;
  font-size: 36px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.logos__container {
  display: flex;
  flex-direction: column;
  padding: 3% 5%;
  gap: 10px;
  align-items: center;
}

.container__logo {
  width: 100px;
  height: 100px;
}
.container__desc {
  color: #e1eff6;
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects__header {
  margin: 50px 0px 0px 0px;
  color: #2692ea;
  font-size: 36px;
}
.projects__project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 10%;
  gap: 50px;
}
.projects__project-container--reversed {
  flex-wrap: wrap-reverse;
}

.project-container__text-container {
  max-width: 400px;
  margin: 5%;
}
.project-container__text-container > h2 {
  color: #2692ea;
}
.project-container__text-container > p {
  color: #e1eff6;
}

.contact {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 580px) {
  .contact {
    flex-direction: column;
  }
}
.contact__heading {
  color: #2692ea;
  align-self: center;
}
.contact__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  gap: 20px;
}
.contact__bar img {
  width: 25px;
  height: 25px;
}
.contact__bar > a:link {
  color: #2692ea;
}
.contact__bar > a:visited {
  color: #2692ea;
}
.contact__bar > a:hover {
  color: #6320ee;
}

body {
  background-color: #333745;
}

main {
  display: flex;
  justify-content: space-around;
}

.page-holder {
  display: flex;
  flex-direction: column;
  margin: 100px 20px 0px 20px;
  max-width: 1500px;
}

@media only screen and (max-width: 992px) {
  .heading {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .para {
    text-align: center;
  }
}
