@use "header";
@use "landing";
@use "about";
@use "skills";
@use "projects";
@use "contact";
@use "pallette";
@use "mixins";

body {
    background-color: pallette.$base-color;
}

main {
    display: flex;
    justify-content: space-around;
}

.page-holder {
    display: flex;
    flex-direction: column;
    margin: 100px 20px 0px 20px;
    max-width: 1500px;
}

.heading {
    @include mixins.mobile-device {
        text-align: center;
    }
}

.para {
    @include mixins.mobile-device {
        text-align: center;
    }
}
